<header class="header" role="banner">
  <div class="header__inner">
    <a class="header__brand" href="#inicio">
      <span class="header__brand-text">Cracovia</span>
    </a>

    <button class="header__toggle" type="button" aria-expanded="false" aria-controls="main-nav" aria-label="Abrir menú">
      <span class="header__toggle-box">
        <span class="header__toggle-bar"></span>
        <span class="header__toggle-bar"></span>
        <span class="header__toggle-bar"></span>
      </span>
    </button>

    <nav id="main-nav" class="nav header__nav" role="navigation">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#fotos" data-scroll>Fotos</a></li>
        <li class="nav__item"><a class="nav__link" href="#experiencias" data-scroll>Experiencias</a></li>
      </ul>
    </nav>
  </div>
</header>
