@use "sass:color";

$color-primary: #493005;
$color-accent: #ae673d;
$color-bg: color.scale($color-accent, $lightness: 70%);
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
